@{
	ViewData["Title"] = "Главная";
}

<section class="bg-light pb-4">
	<div class="container">
		<div class="row justify-content-center">
			<div class="px-4 pt-5 my-5 text-center">
				<img class="d-block mx-auto mb-4" src="~/images/app_logo.png" alt="" width="128" height="96">
				<h1 class="display-5 fw-bold">Строитель мнемофраз</h1>
				<div class="col-lg-6 mx-auto">
					<p class="lead mb-4">
						Запоминайте слова легко.
						Составляйте ассоциативные предложения и тренируйтесь с помощью карточек. Учите нужную вам информацию быстро.
					</p>
					<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
						<a asp-controller="Sentence" asp-action="Create" class="btn btn-primary btn-lg px-4 gap-3">Начать бесплатно</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
				<div class="col-12 col-sm-10 col-md-9 col-lg-8 col-xl-7 col-xxl-6 p-5 shadow bg-white">

					<div id="cardsCarousel" class="carousel slide m-3" data-bs-ride="carousel">
						<div class="carousel-indicators">
							<button type="button" data-bs-target="#cardsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
							<button type="button" data-bs-target="#cardsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
							<button type="button" data-bs-target="#cardsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
							<button type="button" data-bs-target="#cardsCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
						</div>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="~/images/languages.png" class="d-block w-100" alt="">
								<div class="carousel-caption d-none d-sm-block">
									<h5>Орфография</h5>
									<p>Падежи, ударения, слоги</p>
								</div>
							</div>
							<div class="carousel-item">
								<img src="~/images/hobby.png" class="d-block w-100" alt="">
								<div class="carousel-caption d-none d-sm-block">
									<h5>Наше окружение</h5>
									<p>Цвета радуги, планеты, </p>
								</div>
							</div>
							<div class="carousel-item">
								<img src="~/images/math.png" class="d-block w-100" alt="">
								<div class="carousel-caption d-none d-sm-block">
									<h5>Точные науки</h5>
									<p>Математические константы, геометрия</p>
								</div>
							</div>
							<div class="carousel-item">
								<img src="~/images/hobby.png" class="d-block w-100" alt="">
								<div class="carousel-caption d-none d-sm-block">
									<h5>Хобби</h5>
									<p>Сборка Кубика Рубика вслепую, шахматы</p>
								</div>
							</div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#cardsCarousel" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#cardsCarousel" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>
			</div>
		</div>


</section>

<section>
	<div class="container">
		<div class="row">
			<h2></h2>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row justify-content-center">
			<h2>Как это работает?</h2>
			<ol>
				<li>Введите слово</li>
				<li>Получите мнемоническое предложение</li>
				<li>Запомните с помощью карточек</li>
			</ol>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row justify-content-center">
			<h2>Почему это работает?</h2>
			<ul>
				<li>Мнемоника помогает запоминать быстрее</li>
				<li>Связывает слова с образами и эмоциями</li>
				<li>Карточки усиливают долговременную память</li>
			</ul>
		</div>
	</div>
</section>

<section class="features">
	<div class="container">
		<div class="row justify-content-center">
			<h2>Что вы получаете</h2>
			<ul>
				<li>Генерация мнемонических предложений</li>
				<li>Flashcards с интервальным повторением</li>
				<li>Добавление собственных ассоциаций</li>
			</ul>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12">
				<h2>Готовы попробовать?</h2>
				<a asp-controller="Sentence" asp-action="Create" class="btn btn-primary">Перейти к созданию</a>
			</div>

		</div>
	</div>
</section>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial"></partial>
	}
}

