<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap-icons-1.13.1/bootstrap-icons.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/MnemonicBuilder.Web.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house"></i></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item dropdown d-none d-sm-block">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<b>Предложения</b>
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" asp-controller="Sentence" asp-action="My">Мои предложения</a></li>
								<li><a class="dropdown-item" asp-controller="Sentence" asp-action="Create">Создать</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" asp-controller="Sentence" asp-action="Public">Предложения пользователей</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown d-none d-sm-block">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<b>Карточки</b>
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" asp-controller="Set" asp-action="My">Мои карточки</a></li>
								<li><a class="dropdown-item" asp-controller="Set" asp-action="Create">Создать</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" asp-controller="Set" asp-action="Public">Карточки пользователей</a></li>
							</ul>
						</li>

						<li class="nav-item d-sm-none">
							<span class="nav-link"><b>Предложения</b></span>
						</li>
						<li class="nav-item d-sm-none">
							<a class="nav-link" asp-controller="Sentence" asp-action="My">Мои предложения</a>
						</li>
						<li class="nav-item d-sm-none">
							<a class="nav-link" asp-controller="Sentence" asp-action="Create">Создать</a>
						</li>
						<li class="nav-item d-sm-none">
							<a class="nav-link" asp-controller="Sentence" asp-action="Public">Предложения пользователей</a>
						</li>
						<li class="nav-item d-sm-none">
							<span class="nav-link"><b>Карточки</b></span>
						</li>
						<li class="nav-item d-sm-none">
							<a class="nav-link" asp-controller="Set" asp-action="My">Мои карточки</a>
						</li>
						<li class="nav-item d-sm-none">
							<a class="nav-link" asp-controller="Set" asp-action="Create">Создать</a>
						</li>
						<li class="nav-item d-sm-none">
							<a class="nav-link" asp-controller="Set" asp-action="Public">Карточки пользователей</a>
						</li>
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>

	<main role="main">
		@RenderBody()
	</main>


	<div class="container">
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			<div class="col-md-4 d-flex align-items-center">
				<span class="mb-3 mb-md-0 text-body-secondary">© 2025 Александр Верета, PattMe. Все права защищены.</span>
			</div>
			<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
				<li class="ms-3">
					<a class="text-body-secondary" href="https://vk.com/int64_bit" aria-label="VK" target="_blank">
						<img src="~/images/vk_logo.svg" width="36" height="36" />
					</a>
				</li>
				<li class="ms-3">
					<a class="text-body-secondary" href="https://t.me/int64_bit" aria-label="Telegram" target="_blank">
						<img src="~/images/telegram_logo.svg" width="36" height="36" />
					</a>
				</li>
			</ul>
		</footer>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
